{% extends 'menu.html' %}

{% block body %}
<div class="container justify-content-center my-3" style="padding-top: 30vh;">
<div class="row justify-content-center align-middle my-3">
    <h1>You have added song {{ name }}! </h1>
</div>
<div class="row justify-content-center align-middle my-3">
    <a href="{{ url_for('songAdd') }}"><button class="btn btn-light">Add another Song?</button></a>
</div>
<div class="row justify-content-center align-middle my-3">
    <a href="{{ url_for('homePage') }}"><button class="btn btn-light">Got to Home</button></a>
</div>
</div>


{% endblock %}